# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ jupyter notebook
+ listing librarys opensource
+ etc.

Some of the popular languages that Data Scientists use are:
1. R
2. PYTHON
3. JULIA
4. RUBY
5. JAVASCRIPT

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. scikit-learn
3. pandas

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks  |
| Anaconda |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
minutes=200
#This will convert 200 minutes to hours by diving by 60
hour=(200/60)
print(hour)

3.3333333333333335

## Author
Honey Jadav